.paperVacancy {
    background-color: #FFFFFF;
    width: 100%;
    padding: 24px;
    border-radius: 12px;
}

.vacancyText {
    color: #4263EB; 
}

.experiencePrice {
    margin-top: 6px;
}

.vacancyExperience {
    color: #0F0F1080;
}

.companyVacancy {
    margin-top: 18px;
    color: #0F0F1080;
}

.vacancySpace {
    font-weight: 700;
    height: 16px;
    text-transform: uppercase;
    padding: 6px 5px;
    color: #FFFFFF;
}

.vacancyCity {
    color: #0F0F10;
    margin-top: 4px;
}

.paperDescription {
    background-color: #FFFFFF;
    width: 100%;
    padding: 32px;
    border-radius: 12px;
}

.sectionTitle {
    color: #0F0F10;
}

.sectionText {
    color: #0F0F10;
    line-height: 24px;
    white-space: pre-line; 
}